@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;500;600;700&family=Lexend+Exa:wght@300;400;500;600;700&family=Russo+One&display=swap');

*,
*::before,
*::after {
  min-width: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-wrap: break-word;
}

:root {
  --color-background: #08111a;
  /*  --color-background-sec: #2b2b2b;*/
  --color-background-sec: #08111a;
  --color-font: #efeeee;
  --color-magenta: #f16ce5;
  --color-magenta-rgb: 241, 108, 229;
  --color-violet: #b8a1ff;
  --color-violet-rgb: 184, 161, 255;
  --color-light-pink: #edd2f0;
  --color-light-pink-rgb: 237, 210, 240;
  --color-light-green: #00c896;
  --color-light-green-rgb: 0, 200, 150;
  --color-yellow: #ffbe0b;
  --color-yellow-rgb: 255, 190, 11;
  --color-jeec-blue: #199cff;
  --color-header-blue: #4cc9f0;
  --color-prizes-background: #1b2a45;
  --color-prizes-background-rgb: 27, 42, 69;
  --color-prizes-border: #abcfea;
  --color-prizes-border-rgb: 171, 207, 234;

  --c-acc-blue: #199cff;
  --c-acc-lighter-dark-blue: #2e55ff;
  --c-acc-lighter-dark-blue-rgb: 46, 85, 255;
  --c-acc-dark-blue: #1500b1;
  --c-acc-purple-blue: #605ed0;
  --c-acc-lilac: #a300ff;
  --c-acc-strong-pink: #ff006e;
  --c-acc-violet: #7209b7;
  --c-acc-yellow: #ffbe0b;
  --c-acc-orange: #fb5607;
  --c-acc-orange-rgb: 251, 86, 7;

  --font-schedule: 'Lexend Exa', sans-serif;
}

body {
  background-color: var(--color-background);
  color: var(--color-font);
  z-index: 1;
  position: relative;
}

h1,
h2,
h3,
h4 {
  font-family: 'Russo One', sans-serif;
  color: var(--clr-dark-font);
}

p,
a,
button {
  font-family: 'Lexend Deca', sans-serif;
  color: var(--clr-dark-font);
}

.radient-border-passthrough {
  position: relative;

  --_border-radius: var(--border-radius, 20px);
  --_background: var(
    --background,
    radial-gradient(
      ellipse 150% 150% at 15% 0%,
      rgba(76, 202, 240, 0.14) 0%,
      rgba(76, 202, 240, 0.08) 70%,
      rgba(76, 202, 240, 0) 100%
    )
  );
  --_border-background: var(
    --border-background,
    linear-gradient(165deg, #605ed0 0%, #4cc9f0 40%, #7209b7 100%)
  );
  --_border-width: var(--border-width, 3px);

  background: var(--_background);
  border-radius: var(--_border-radius);
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);
}

.radient-border-passthrough::before,
.radient-border-passthrough_child {
  /* content: ""; */
  /* create a ::before element in the parent element with the above attribute so there is no need to create an explicit child element */

  position: absolute;
  pointer-events: none;
  width: 100%;
  height: 100%;
  inset: 0;
  padding: var(--_border-width);
  border-radius: var(--_border-radius);
  background: var(--_border-background);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
